/**
*
* Forms
*
**/

.form {
    position: relative;

    fieldset {
        @include clearfix();
    }


}


// General
.form__input, 
.form__textarea, 
select, 
.form__select {  
    position: relative;

    width: 100%;
    //margin-bottom: 10px;
    padding: 9px 15px 8px;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    border: 1px solid;
    border-color: #c9c9c9;
    border-radius: 10px;

    transition: all .7s ease;

    @media all and (min-width: 200px) and (max-width: 1320px) {
        font-size: 14px;
    }

    &:focus {
        border: 1px solid;
        border-color: #f08138;
    }
}

select {
    margin-bottom: 0;
}

.form__select {
    position: relative;
    background-color: #fff;

    background: url(../img/icons/icon_arrow-down_white_bg-orange.svg) no-repeat 98% center #fff;

    @media all and (min-width: 200px) and (max-width: 1024px) {
        margin: 2px 0;
    }

    &__sigs {
        option[disabled] {
            background-color: rgba(255, 0, 0, 0.1);
            color: red;
            cursor: not-allowed;
        }
    }
}

.form__input[readonly],
.form__textarea[readonly] {
    background: #fdeade !important;
}

form ::-webkit-input-placeholder {
    color: #c7c7c7;
    font-size: 18px;

    @media all and (min-width: 200px) and (max-width: 1320px) {
        font-size: 14px;
    }
}

form :-moz-placeholder {
    opacity: 1;
    color: #c7c7c7;
    font-size: 18px;

    @media all and (min-width: 200px) and (max-width: 1320px) {
        font-size: 14px;
    }
}

form ::-moz-placeholder {
    opacity: 1;
    color: #c7c7c7;
    font-size: 18px;

    @media all and (min-width: 200px) and (max-width: 1320px) {
        font-size: 14px;
    }
}

form :-ms-input-placeholder {
    color: #c7c7c7;
    font-size: 18px;

    @media all and (min-width: 200px) and (max-width: 1320px) {
        font-size: 14px;
    }
}


select {
    line-height: 1;
}

select,
.form__select {
    font-size: 20px;
    color: $color_orange;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 6px 15px 5px;
    line-height: 1.3;

    @media all and (min-width: 1025px) and (max-width: 1320px) {
        font-size: 14px;
    }

    @media all and (min-width: 200px) and (max-width: 1024px) {
        font-size: 14px;
    }
}


// Inputs & textareas
.form__input, 
.form__textarea { 
    background-color: #fff;
    line-height: 1.35;
}
    
.ie9 .form__input {
    line-height:normal;
} /* Get the stuff to line up right */
    
.form__textarea {
    width: 100%;
    min-height: 10em;
}


// Checkbox & Radio inputs

.form__radio, 
.form__checkbox {
    position: absolute; 
    left: -999em;
}

.form__radio-label,
.form__checkbox-label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    font-size: 18px;

    @media all and (min-width: 200px) and (max-width: 1320px) {
        font-size: 14px;
    }
}
        
.form__radio-label:before/*,
.form__checkbox-label:before*/ { 
    display: inline-block; 
    position: relative; 
    top: 2px; 
    left: -2px; 
    content:''; 
    width: 25px; 
    height: 23px;
    background: url(../img/formelements.png) top left no-repeat; 
}









//form input[type='radio'],
.form__checkbox
{
    display: none;
}

.form__radio + .form__radio-label,
.form__checkbox + .form__checkbox-label
{
    font-size: 18px;
    margin-right: 20px;
    color: #373737;
    letter-spacing: 1px;

    @media all and (min-width: 200px) and (max-width: 1320px) {
        font-size: 16px;
    }
}

.form__checkbox + .form__checkbox-label span:first-of-type
{
    position: relative;
    z-index: 0;

    display: inline-block;

    cursor: pointer;
    vertical-align: middle;
}

.form__checkbox + .form__checkbox-label span:first-of-type:after,
.form__checkbox + .form__checkbox-label span:first-of-type:before
{
    position: absolute;
    content: '';
}

.form__checkbox + .form__checkbox-label span:first-of-type
{
    line-height: 20px;

    width: 60px;
    height: 31px;
    margin: -3px 10px 0 13px;

    border-radius: 3px;
}

.form__checkbox + .form__checkbox-label span:first-of-type:after
{
    z-index: 10;
    top: 0;
    left: 0;

    width: 60px;
    height: 32px;
    margin: -3px 10px 0 0;

    -webkit-transition: background-color .2s ease 0s;
            transition: background-color .2s ease 0s;

    border-radius: 15.5px;
    background-color: #bfbfbf;
}

.form__checkbox + .form__checkbox-label span:first-of-type:before
{
    z-index: 20;
    top: 4px;
    left: 4px;

    width: 24px;
    height: 24px;
    margin: -3px 10px 0 0;

    -webkit-transition: left .4s ease 0s, background-color .2s ease 0s, background-position .2s ease 0s;
            transition: left .4s ease 0s, background-color .2s ease 0s, background-position .2s ease 0s;

    border-radius: 12px;
    background-color: #d2d2d2;
    background-image: url('../img/icons/icon_tick.svg');
    background-repeat: no-repeat;
    background-position: -1px 1px;
    background-size: 100% auto;
}

.form__checkbox:checked + .form__checkbox-label span:first-of-type:after
{
    background-color: #71c892;
}

.form__checkbox:checked + .form__checkbox-label span:first-of-type:before
{
    left: 31px;

    opacity: 1;
    background-color: #9cd9b3;
}



/*
.form__checkbox + .form__checkbox-label:before {
    background-position: 0 -25px;
}

.form__checkbox:checked + .form__checkbox-label:before {
    background-position: 0 0 ;
}

*/

.form__guard-container {
    position: relative;
}

.form__radio + .form__radio-label:before {
    background-position: -25px -25px;
}         

.form__radio:checked + .form__radio-label:before {
    background-position: -25px 0;
}

.form__input--guarded {
    padding-right: 50px;
}

.form__input--guarded + label
{
    position: absolute;
    z-index: 20;
    top: 12px;
    right: 2px;

    display: block;
    overflow: hidden;

    width: 24px;
    height: 24px;
    margin: -3px 10px 0 0;

    -webkit-transition: left .4s ease 0s, background-color .2s ease 0s, background-position .2s ease 0s;
            transition: left .4s ease 0s, background-color .2s ease 0s, background-position .2s ease 0s;
    text-indent: -300px;

    border-radius: 12px;
    background-color: #d2d2d2;
    background-image: url('../img/icons/icon_minus.svg');
    background-repeat: no-repeat;
    background-position: 0 1px;
    background-size: 100% auto;
}

.form__input--guarded + label.valid
{
    background-color: #71c892;
    background-image: url('../img/icons/icon_tick.svg');
    background-position: -1px 1px;
}


// Select list
.form__select {
    display: inline-block;
    width: auto;
    overflow:hidden;
    padding:0 15px 0 0;
    margin:0 10px 0 0 ;
    max-width: 600px;

    select {
        width:124%;
        padding-right: 50px;
        background-color:transparent;
        background-image:none;
        -webkit-appearance: none;
        border:none;
        box-shadow:none;
        margin-top: -1px;

        @media all and (min-width: 1025px) and (max-width: 1320px) {
            width: 130%;
        }
    }

    &--normal {
        color: $color_grey5;

        select {
            text-transform: none;
            color: $color_grey5;
            font-size: 18px;
        }
    }

    &--full-width {
        width: 100%;
        max-width: 100% !important;
    }

    &--w80 {
        width: 80%;
        max-width: 80% !important;
    }

    &--time {
        width: 18%;
        margin-right: 0;
        color: $color_grey5;

        background: url(../img/time-dd.png) no-repeat 93% center #fff;

        select {
            color: $color_grey5;
            font-size: 15px;
            width: 150%;
        }
    }

    &--small {
        width: 15%;

        select {
            width: 160%;
        }
    }
}


// Label above the field
.form__label {
    display: block;
    width: 100%;
    line-height: 2;

    &--avro {
        font-family: "Arvo",serif;
        font-weight: 500;
        font-size: 1.2em;
        letter-spacing: .5px;
    }
}


.form__row {
    display: table;
    width: 100%;
    clear:both;
    padding: 6px 0;

    &--nopad {
        padding: 0;
    }

    &__left,
    &__right {
        display: table-cell;
        vertical-align: top;

        .angucomplete-holder {
            width: 80%;
        }
    }

    &__left {
        width: 200px;
        padding-right: 10px;
    }

    &__right {
        width: 70%;
        padding-left: 10px;
    }

    &--middle {
        .form__row__left,
        .form__row__right {
            vertical-align: middle;

            .btn {
                vertical-align: middle;
            }
        }
    }
}


/*
.form__response {
    border-radius: 5px;


    &--ok {
        background: #009b0f;
    }

    &--error {
        background: #C32122;
    }

    p {
        padding: 10px;

        font-size: 1em !important;
        color: #fff;
        text-shadow: none;
    }
}*/

.form__response {
    //border-radius: 5px;
    //
    display: table;
    width: 100%;
    position: relative;
    font-weight: 500;

    &--ok {
        background-color: #009b0f;
    }

    &--error {
        background-color: #C32122;
    }

    > p,
    &__ico {
        display: table-cell;

        padding: 12px 12px 12px 20px;

        @media all and (max-width: 767px) {
            padding: 8px 8px 8px 16px;
        }
    }

    &__ico {
        width: 50px;
        text-indent: -9999px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);

        &--error {
            background: url(../img/icons/icon_error.svg) center center / 32px auto no-repeat;
        }

        &--ok {
            background: url(../img/icons/icon_tick.svg) center center / 32px auto no-repeat;
        }
    }

    p {
        padding: 4px 10px;

        font-size: 1em !important;
        color: #fff;
        text-shadow: none;
        margin: 0;

        &:last-child {
            margin-bottom: 10px;
        }
    }
}

#contact-mail {
    display: none;
}

.form--inline {
    //line-height: 0;

    > * {
        display: inline-block;
        margin-bottom: 0;

        @media all and (min-width: 200px) and (max-width: 768px) {
            display: block;
        }
    }

    .form__select {
        width: auto;

        @media all and (min-width: 200px) and (max-width: 1024px) {
            margin: 5px 0;
        }
    }

    .form__input--search {
        //width: 46%;
        margin-right: 2%;
    }

    .btn--icon-search {
        @media all and (min-width: 1025px) and (max-width: 1320px) {
            //top: -4px;
        }
    }
}

.form__checkbox +  .form__checkbox-label--full {
    display: block;
    margin-right: 0;
    cursor: pointer;

    span:first-of-type {
        display: block;
        margin-top: 0;
        float: right;
    }
}




.form__checkbox-tick {
    position: absolute; 
    left: -999em;
}

.form__checkbox-tick-label {
    display: block;
    vertical-align: middle;
    margin-right: 20px;
    cursor: pointer;
}
        
.form__checkbox-tick-label:before { 
    display: block; 
    position: absolute; 
    top: 20px; 
    right: 20px; 
    content:''; 
    width: 25px; 
    height: 25px;
    background: url(../img/formelements.png) top left no-repeat; 
}

.form__checkbox-tick + .form__checkbox-tick-label:before {
    background-position: 0 -25px;
}

.form__checkbox-tick:checked + .form__checkbox-tick-label:before {
    background-position: 0 0 ;
}


.form__input {
    &--hour {
        width: 90px;
        background: url(../img/time-dd.png) no-repeat 90% center #fff;

         + .datetime-picker-dropdown {
            position: absolute;
            z-index: 99;
            padding: 10px 5px;
            background-color: $color_grey2;
            border-radius: 8px;
            border: 1px solid #c9c9c9;
            min-width: 246px;

            .btn-info {
                @extend .btn;
                @extend .btn--small;
                @extend .btn--turquoise;
                padding: 9px;
            }

            .btn-danger {
                @extend .btn;
                @extend .btn--small;
                @extend .btn--yellow;
                padding: 9px;
            }

            .btn-success {
                @extend .btn;
                @extend .btn--icon;
                @extend .btn--small;
                @extend .btn--green;
                @extend .btn--icon-arrow-right;
                @extend .btn--icon-small;
            }

            input.form-control {
                @extend .form__input;
            }

            .btn-link {
                padding: 5px 12px;

                .glyphicon-chevron-up {
                    display: block;
                    position: relative;
                    
                    &:before {
                        content: "";
                        display: inline-block;
                        width: 28px;
                        height: 28px;
                        background: url(../img/icons/icon_arrow-down_white_bg-orange.svg) no-repeat center center / 28px auto;
                    }
                }

                .glyphicon-chevron-down {
                    display: block;
                    position: relative;
                    
                    &:before {
                        content: "";
                        display: inline-block;
                        width: 28px;
                        height: 28px;
                        background: url(../img/icons/icon_arrow-down_white_bg-orange.svg) no-repeat center center / 28px auto;

                    }
                }
            }
        }
    }

    &--date {
        width: 140px;
        background: url(../img/icons/icons--color_callendar_circle.svg) no-repeat 97% center / 30px auto #fff;

        + .dropdown-menu {
            position: absolute;
            z-index: 99;
            //padding: 10px 5px;
            padding-bottom: 10px;
            background-color: #fff;
            border-radius: 8px;
            border: 1px solid #c9c9c9;
            overflow: hidden;

            table {
                > thead {
                    > tr {
                        background-color: $color_grey_light;
                        > th {
                            padding: 4px;
                            font-weight: 300;

                            &:first-child,
                            &:last-child {
                                .btn {
                                    display: block;
                                    width: 28px;
                                    height: 28px;
                                    float: none;
                                }
                            }

                            &:first-child {
                                .btn {
                                    background: url(../img/icons/icon_arrow-left_white_bg-orange.svg) no-repeat top right / 28px auto;
                                }
                            }

                            &:last-child {
                                .btn {
                                    background: url(../img/icons/icon_arrow-right_white_bg-orange.svg) no-repeat top left / 28px auto;
                                }
                            }
                        }
                    }
                }

                > tbody {
                    > tr {
                        > td {
                            border: 1px solid #eee;
                            padding: 6px;

                            >  em {
                                color: #999;
                                font-size: 12px;
                                display: block;
                                text-align: center;
                            }

                            .text-muted {
                                color: #ccc;
                            }
                        }
                    }
                }
            }

            .btn-info {
                @extend .btn;
                @extend .btn--small;
                @extend .btn--turquoise;
                padding: 9px;
            }

            .btn-danger {
                @extend .btn;
                @extend .btn--small;
                @extend .btn--yellow;
                padding: 9px;
            }

            .btn-success {
                @extend .btn;
                @extend .btn--icon;
                @extend .btn--small;
                @extend .btn--green;
                @extend .btn--icon-arrow-right;
                @extend .btn--icon-small;
            }

            .btn-default {
                background-color: transparent;
                padding: 12px 8px;
                font-size: 14px;
                text-transform: none;

                &.btn-info {
                    color: $color_main;
                }

                &.active {
                    color: #fff;
                    background-color: $color_turquoise;

                    &.btn-info {
                        color: #fff;
                    }
                }

                &:hover {
                    color: #fff;
                    background-color: $color_turquoise;
                }
            }
        }
    }
}