.Modal-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: rgba(0, 0, 0, 1);
    z-index: 1;
}

.Modal-holder {
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    z-index: 2;
    padding: 30px 15px;
}

.Modal-box {
    margin: 0 auto;
    width: 100%;
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
    position: relative;
}

@media screen and (min-width: 992px) {
    .Modal-box {
        width: 50%;
        padding: 30px;
    }
}