    <ul class="siteNav__level1">
        <li>
            <a ui-sref="root.sub.services">Services</a>
            <div class="siteNav__level2">
                <ul>
                    <li><a ui-sref="root.sub.services.strategy">Strategy</a></li>
                    <li><a ui-sref="root.sub.services.creative">Creative</a></li>
                    <li><a ui-sref="root.sub.services.technical">Technical</a></li>
                    <li><a ui-sref="root.sub.services.marketing">Marketing</a></li>
                    <li><a ui-sref="root.sub.services.support">Support</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a ui-sref="root.sub.about">About</a>
            <div class="siteNav__level2">
                <ul>
                    <li><a ui-sref="root.sub.about.team">Meet the team</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a ui-sref="root.sub.work">Work</a>
        </li>
        <li>
            <a ui-sref="root.sub.insights">Insights</a>
            <div class="siteNav__level2">
                <ul>
                    <li><a ui-sref="root.sub.insights.blog">Blog</a></li>
                    <li><a ui-sref="root.sub.insights.playground">Playground</a></li>
                    <li><a ui-sref="root.sub.insights.resources">Resources</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a ui-sref="root.sub.contact">Contact</a>
        </li>
        <li>
            <a href="tel:+4401256845818">01256 845 818</a>
        </li>
    </ul>
</nav>
