<article class="view view--insights">

    <div class="fullHero">
        <div class="fullHero__wrapper">
            <div class="fullHero__content">
                <h1>Insights</h1>
                <p>Sub Header goes here</p>
            </div>
        </div>
    </div>

    <ul class="tilesGrid">

        <li class="tilesGrid__item flipAnim">
            <div class="flipAnim__wrapper">
                <div class="flipAnim__back insTile insTile--bgTriangle">
                    <div class="pl--20em">
                        <p class="insTile__txt--fontA text--upper mt--20em pr--10em">Let's push things forward</p>
                        <p class="insTile__txt--fontB mt--20em pr--20em">We don’t sit on or laurels for long. Find out what we’re thinking, what we’ve been sharing, and learn about the amazing things we’ve been creating.</p>
                    </div>
                </div>
                <div class="flipAnim__front"></div>
            </div>
        </li>

        <li class="tilesGrid__item flipAnim">
            <a class="flipAnim__wrapper" href="http://www.snowflakecreative.co.uk/blog/">
                <div class="flipAnim__back insTile insTile--bgBart color--white">
                    <p class="insTile__type">Blog</p>
                    <p class="insTile__txt--fontC text--upper mt--30em pr--50em">How to convert with Google Analytics</p>
                    <div class="insTile__footer">
                        <time class="insTile__footerDate" datetime="2015-11-24">24 Nov</time>
                        <figure class="insTile__footerAvatar" style="background-image: url(/img/content/avatars/simon-bonello.jpg);"></figure>
                        <p class="insTile__footerContent">
                            <strong>Simon Bonello</strong>
                            The Big Boss
                        </p>
                    </div>
                </div>
                <div class="flipAnim__front"></div>
            </a>
        </li>

        <li class="tilesGrid__item flipAnim">
            <a class="flipAnim__wrapper" href="https://twitter.com/snowflakeweb">
                <div class="flipAnim__front"></div>
                <div class="flipAnim__back insTile insTile--bgBlueBird color--white">
                    <p class="insTile__type">Tweet</p>
                    <p class="insTile__txt--fontC mt--10em">@biggerpictureagency</p>
                    <p class="insTile__txt--fontD mt--20em">2 years in the making and our open-source CMS has been deployed on several sites recently. Check out http://buff.ly/1lvVNmr #Laravel #CMS</p>
                    <div class="insTile__footer">
                        <time class="insTile__footerDate" datetime="2015-11-13">13 Nov</time>
                        <figure class="insTile__footerAvatar" style="background-image: url(../img/content/avatars/bigger-picture.png);"></figure>
                        <p class="insTile__footerContent">
                            <strong>Posted By</strong>
                            Bigger Picture
                        </p>
                    </div>
                </div>
            </a>
        </li>

        <li class="tilesGrid__item flipAnim">
            <a class="flipAnim__wrapper">
                <div class="flipAnim__front"></div>
                <div class="flipAnim__back insTile insTile--bgPaddle color--white">
                    <p class="insTile__type">Resource</p>
                    <p class="insTile__txt--fontC text--upper mt--30em">The secret to consistent batting above your average</p>
                    <q class="insTile__txt--fontB mt--15em">We don’t sit on or laurels for long. Find out what we’re thinking, what we’ve been sharing, and learn about the amazing things we’ve been creating.</q>
                </div>
            </a>
        </li>

        <li class="tilesGrid__item flipAnim">
            <div class="flipAnim__wrapper">
                <div class="flipAnim__front"></div>
                <div class="flipAnim__back insTile">
                    <div class="centerTable">
                        <div class="centerTable__td text-align-left">
                            <q class="color--green2 text--upper ml--10em">
                                <em class="insTile__txt--fontE">104</em>
                                <div class="insTile__txt--fontD mt--10em pr--50em pl--5em">
                                    coffees we have drunk this week
                                </div>
                            </q>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="tilesGrid__item flipAnim">
            <a class="flipAnim__wrapper" href="http://www.snowflakecreative.co.uk/blog/">
                <div class="flipAnim__front"></div>
                <div class="flipAnim__back insTile insTile--bgGray">
                    <p class="insTile__type">Blog</p>
                    <p class="insTile__txt--fontC text--upper mt--20em pr--50em">How to convert with Google Analytics</p>
                    <q class="insTile__txt--fontB mt--15em">We don’t sit on or laurels for long. Find out what we’re thinking, what we’ve been sharing, and learn about the amazing things we’ve been creating.</q>
                    <div class="insTile__footer">
                        <time class="insTile__footerDate" datetime="2015-11-24">24 Nov</time>
                        <figure class="insTile__footerAvatar" style="background-image: url(/img/content/avatars/simon-bonello.jpg);"></figure>
                        <p class="insTile__footerContent">
                            <strong>Simon Bonello</strong>
                            The Big Boss
                        </p>
                    </div>
                </div>
            </a>
        </li>

        <li class="tilesGrid__item flipAnim">
            <a class="flipAnim__wrapper" href="http://www.snowflakecreative.co.uk/blog/">
                <div class="flipAnim__front"></div>
                <div class="flipAnim__back insTile insTile--bgMilo color--white">
                    <p class="insTile__type">Blog</p>
                    <p class="insTile__txt--fontC text--upper mt--30em pr--50em">
                        It's Milo's birthday<br>
                        Join the celebration
                    </p>
                    <div class="insTile__footer">
                        <time class="insTile__footerDate" datetime="2015-11-24">24 Nov</time>
                        <figure class="insTile__footerAvatar" style="background-image: url(/img/content/avatars/simon-bonello.jpg);"></figure>
                        <p class="insTile__footerContent">
                            <strong>Simon Bonello</strong>
                            The Big Boss
                        </p>
                    </div>
                </div>
            </a>
        </li>

        <li class="tilesGrid__item flipAnim">
            <a class="flipAnim__wrapper" href="https://twitter.com/snowflakeweb">
                <div class="flipAnim__front"></div>
                <div class="flipAnim__back insTile insTile--bgBlueBird color--white">
                    <p class="insTile__type">Tweet</p>
                    <p class="insTile__txt--fontC mt--10em">@biggerpictureagency</p>
                    <p class="insTile__txt--fontD mt--20em">15 #SEO Tips And Tricks To Improve Your #Content #Marketing http://buff.ly/1QDyVi6</p>
                    <div class="insTile__footer">
                        <time class="insTile__footerDate" datetime="2015-11-13">13 Nov</time>
                        <figure class="insTile__footerAvatar" style="background-image: url(../img/content/avatars/bigger-picture.png);"></figure>
                        <p class="insTile__footerContent">
                            <strong>Posted By</strong>
                            Bigger Picture
                        </p>
                    </div>
                </div>
            </a>
        </li>

        <li class="tilesGrid__item flipAnim">
            <a class="flipAnim__wrapper">
                <div class="flipAnim__front"></div>
                <div class="flipAnim__back insTile">
                    <div class="centerTable">
                        <div class="centerTable__td text-align-left">
                            <q class="color--green2 text--upper ml--10em">
                                <em class="insTile__txt--fontF">About us</em>
                                <div class="insTile__txt--fontD mt--10em pr--50em pl--5em">
                                    Meet the team at Bigger Picture
                                </div>
                            </q>
                        </div>
                    </div>
                </div>
            </a>
        </li>

    </ul>

</article>
