<article class="view view--servicesCreative">

    <div style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: pink;"></div>

    <div style="padding: 25vh 30vw 0; position: relative; text-align: center;">
        <h2>Creative</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi totam corporis culpa adipisci non excepturi magnam dolore fuga error accusamus soluta illo aliquid ullam quaerat dolorum amet, expedita et iusto.</p>
    </div>

</article>
