<article class="view view--services">

    <div class="bgJungle animated"></div>

    <main class="servicesContent">
        <div class="servicesContent__headline animated">
            <h1 class="visuallyhidden">Services</h1>
            <p class="headline headline--1">We engineer <span>digital ecosystems</span> full of opportunity</p>
            <p>Website design, applications, content, animation and digital marketing campaigns.</p>
        </div>

        <div class="tileBoxesWrapper">
            <ul class="tileBoxes">
                <li class="tileBoxes__item animated">
                    <a ui-sref="root.sub.services.strategy">
                        <h2 class="tileBoxes__title">Strategy</h2>
                        <p>Through data analysis and human intelligence, we create digital strategies that work in your world, for your brand.</p>
                        <div class="tileBoxes__btn">
                            <span>Explore</span>
                        </div>
                    </a>
                </li>
                <li class="tileBoxes__item animated">
                    <a ui-sref="root.sub.services.creative">
                        <h2 class="tileBoxes__title">Creative</h2>
                        <p>Thoughtful creativity that connects with your audience, forging memorable experiences that set you apart.</p>
                        <div class="tileBoxes__btn">
                            <span>Explore</span>
                        </div>
                    </a>
                </li>

                <li class="tileBoxes__item animated">
                    <a ui-sref="root.sub.services.creative">
                        <h2 class="tileBoxes__title">Technical</h2>
                        <p>Websites, applications, content management and much more. There are no limitations to what we can develop. Challenge us.</p>
                        <div class="tileBoxes__btn">
                            <span>Explore</span>
                        </div>
                    </a>
                </li>

                <li class="tileBoxes__item animated">
                    <a ui-sref="root.sub.services.creative">
                        <h2 class="tileBoxes__title">Marketing</h2>
                        <p>We don’t replace your marketing department, we collaborate to produce engaging campaigns and awesome content.</p>
                        <div class="tileBoxes__btn">
                            <span>Explore</span>
                        </div>
                    </a>
                </li>

                <li class="tileBoxes__item animated">
                    <a ui-sref="root.sub.services.creative">
                        <h2 class="tileBoxes__title">Support</h2>
                        <p>Even after you’ve signed off we’ve still got your back.  Maintenance, hosting, retainers and anything else you need.</p>
                        <div class="tileBoxes__btn">
                            <span>Explore</span>
                        </div>
                    </a>
                </li>

            </ul>
        </div>

    </main>

</article>
