<article class="view view--servicesStrategy">

    <div class="bgBooksAndFingers animated"></div>

    <main class="svcStrategyContent">
        <div class="svcStrategyContent__headline animated">
            <h1 class="visuallyhidden">Strategy</h1>
            <p class="headline headline--1">A human approach to digital strategy</p>

            <ol class="breadcrumbs">
                <li><a ui-sref="root.sub.services">Services</a></li>
                <li><a ui-sref="root.sub.services.strategy">Strategy</a></li>
            </ol>

            <p>Without a&nbsp;defined strategy your project is at risk of failing to meet its objectives and may never reach its full potential. Our digital strategy is as a&nbsp;pathway to success achieved through a&nbsp;deep understanding of your brand and the people who interact with it online. We get to the heart of what drives your audience, what motivates them, and ultimately, how we can engage them through digital creativity.</p>
        </div>


        <div class="squareBoxes animated">
            <h2 class="squareBoxes__title">Our digital strategy includes:</h2>
            <ul class="squareBoxes__list">
                <li class="squareBoxes__item">
                    <a ui-sref="root.sub.services.strategy.analysis" class="squareBoxes__a">
                        <div class="squareBoxes__itemTitle">
                            <h2>Web analysis</h2>
                        </div>
                        <div class="squareBoxes__btn">
                            <span>Explore</span>
                        </div>
                    </a>
                </li>
                <li class="squareBoxes__item">
                    <a ui-sref="root.sub.services.strategy.canvas" class="squareBoxes__a">
                        <div class="squareBoxes__itemTitle">
                            <h2>Canvas</h2>
                        </div>
                        <div class="squareBoxes__btn">
                            <span>Explore</span>
                        </div>
                    </a>
                </li>
                <li class="squareBoxes__item">
                    <a ui-sref="root.sub.services.strategy.content" class="squareBoxes__a">
                        <div class="squareBoxes__itemTitle">
                            <h2>Messaging & content</h2>
                        </div>
                        <div class="squareBoxes__btn">
                            <span>Explore</span>
                        </div>
                    </a>
                </li>
                <li class="squareBoxes__item">
                    <a ui-sref="root.sub.services.strategy.journey" class="squareBoxes__a">
                        <div class="squareBoxes__itemTitle">
                            <h2>User journey</h2>
                        </div>
                        <div class="squareBoxes__btn">
                            <span>Explore</span>
                        </div>
                    </a>
                </li>
                <li class="squareBoxes__item">
                    <a ui-sref="root.sub.services.strategy.conversion" class="squareBoxes__a">
                        <div class="squareBoxes__itemTitle">
                            <h2>Conversion optimisation</h2>
                        </div>
                        <div class="squareBoxes__btn">
                            <span>Explore</span>
                        </div>
                    </a>
                </li>
                <li class="squareBoxes__item">
                    <a ui-sref="root.sub.services.strategy.inbound" class="squareBoxes__a">
                        <div class="squareBoxes__itemTitle">
                            <h2>Inbound marketing</h2>
                        </div>
                        <div class="squareBoxes__btn">
                            <span>Explore</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </main>

</article>
