.squareBoxes {
    font-size: 1rem; // All dimensions are relative to font-size of .squareBoxes

    &__title {
        position: absolute;
        top: 40%;
        left: 50%;
        margin-left: -12em;
        z-index: 1;
        width: 24em;
        display: inline-block;
        padding: 1em 0;
        background: $color_white;
        color: $color_main;
        text-transform: uppercase;
        white-space: nowrap;
        font-family: $font_sansSerif;
        font-size: 1.75em;
        font-weight: 300;
        text-align: center;
        @extend .animated;
        @extend .fadeOut; // Leave animation (common, delays are set per view)

        .active & {
            @extend .fadeIn;  // Leave animation
        }
    }

    &__list {
        list-style-type: none;
        display: block;
    }

    &__item {
        display: inline-block;
        margin: .5em;
        color: $color_white;
        @extend .animated;
        @extend .fadeOut;

        // Leave animation
        @extend .fadeIn;

        // Enter animation
        .active & {
            @extend .fadeIn;
        }

    }

    &__a {
        position: relative;
        display: block;
        overflow: hidden;
        width: 22em;
        height: 20em;
        background: rgba($color_graphite, .9);
        text-transform: uppercase;
        font-family: $font_sansSerif;
        font-weight: 400;
        text-align: center;
        transition: background-color 100ms ease;

        @extend .animated;
        animation-name: blueFlash;
        animation-duration: 800ms;
        animation-fill-mode: none;

        // Rollover state
        &.selected,
        &:hover,
        &:focus,
        &:active {
            background-color: $color_blue;

            .squareBoxes__itemTitle {
                margin-top: 21%;
            }
            .squareBoxes__btn {
                top: 50%;
                border-top-color: rgba($color_blue2, 1);
            }
        }
    }

    &__itemTitle {
        display: table;
        margin-top: 34%;
        width: 100%;
        height: 4.4em;
        padding-left: 1em;
        padding-right: 1em;
        transition: margin-top 300ms ease;

        > * {
            display: table-cell;
            vertical-align: middle;
            margin: 0;
            line-height: 1.1;
            font-weight: inherit;
            font-size: 2em;
        }
    }

    &__btn {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding-top: 1.3em;
        border-top: 1px solid rgba($color_graphite, 0);
        font-size: 1.4em;
        transition: top 300ms ease, border-top-color 100ms ease;
    }

}
