.tilesGrid {
    display: block;
    list-style-type: none;
    width: 100%;
    font-size: 0; // to remove whitespace. Ovewrite it in the tile's content

    &__item {
        // width and height should be defined per instance
        position: relative;
        display: inline-block;
        vertical-align: top;
    }

}
