.wideHero {
    display: table;
    width: 100%;
    min-height: 30vh;
    margin-top: $siteHeaderHeight;
    font-size: 1rem; // master size
    background: $color_white;

    // 1025 - 1366
    @include mediaquery(hdready) {
        font-size: 1.1vw; // master size
    }

    &__wrapper {
        display: table-cell;
        padding: 4em;
        text-align: center;
        vertical-align: middle;
    }

    &__content {
        max-width: 70em;
        display: inline-block;
        padding-right: 10em;
        text-align: left;

        // Enter animation
        @extend .animated;
        @extend .fadeOut;
        animation-duration: 1s;

        // Enter animation
        .active & {
            @extend .fadeIn;
        }
    }

    h1 {
        margin: 0;
        font-size: 3.25em;
        font-family: $font_sansSerif;
        font-weight: 300;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: .07em;
    }

    p {
        width: 60%;
        margin: .6em 0 0;
        font-size: 1.88em;
        line-height: 1;
        letter-spacing: 0.02em;
    }

}
