<article class="view view--work">

    <div class="wideHero">
        <div class="wideHero__wrapper">
            <div class="wideHero__content">
                <h1>Our work speaks for itself, our clients speaks for us.</h1>
                <p>Website design, applications, content, animation and marketing campaigns.</p>
            </div>
        </div>
    </div>

    <ul class="tilesGrid">

        <li class="tilesGrid__item">
            <a class="workTile" style="background-image: url(/img/content/work/nvm_tile.jpg)">
                <div class="centerTable">
                    <p class="centerTable__td workTile__content">
                        <strong>NewVoiceMedia</strong>
                        Some catchy description
                    </p>
                </div>
            </a>
        </li>

        <li class="tilesGrid__item">
            <a class="workTile" style="background-image: url(/img/content/work/homeCloud_tile.jpg)">
                <div class="centerTable">
                    <p class="centerTable__td workTile__content">
                        <strong>The Homecloud</strong>
                        Some catchy description
                    </p>
                </div>
            </a>
        </li>

        <li class="tilesGrid__item">
            <a class="workTile" style="background-image: url(/img/content/work/class_tile.jpg)">
                <div class="centerTable">
                    <p class="centerTable__td workTile__content">
                        <strong>Class Live Bands &&nbsp;Entertainers</strong>
                        Some catchy description
                    </p>
                </div>
            </a>
        </li>

        <li class="tilesGrid__item">
            <a class="workTile" style="background-image: url(/img/content/work/db_tile.jpg)">
                <div class="centerTable">
                    <p class="centerTable__td workTile__content">
                        <strong>Databaracks</strong>
                        Some catchy description
                    </p>
                </div>
            </a>
        </li>

        <li class="tilesGrid__item">
            <a class="workTile" style="background-image: url(/img/content/work/ipi_tile.jpg)">
                <div class="centerTable">
                    <p class="centerTable__td workTile__content">
                        <strong>Ipintegration</strong>
                        Some catchy description
                    </p>
                </div>
            </a>
        </li>

        <li class="tilesGrid__item">
            <a class="workTile" style="background-image: url(/img/content/work/swx_tile.jpg)">
                <div class="centerTable">
                    <p class="centerTable__td workTile__content">
                        <strong>softwarex</strong>
                        Some catchy description
                    </p>
                </div>
            </a>
        </li>

        <li class="tilesGrid__item">
            <a class="workTile" style="background-image: url(/img/content/work/jkl_tile.jpg)">
                <div class="centerTable">
                    <p class="centerTable__td workTile__content">
                        <strong>JKL Salon</strong>
                        Some catchy description
                    </p>
                </div>
            </a>
        </li>

        <li class="tilesGrid__item">
            <a class="workTile" style="background-image: url(/img/content/work/branding_tile.jpg)">
                <div class="centerTable">
                    <p class="centerTable__td workTile__content">
                        <strong>Branding</strong>
                        Some catchy description
                    </p>
                </div>
            </a>
        </li>

        <li class="tilesGrid__item">
            <a class="workTile" style="background-image: url(/img/content/work/wp_tile.jpg)">
                <div class="centerTable">
                    <p class="centerTable__td workTile__content">
                        <strong>
                            Web presence<br>
                            on a budget
                        </strong>
                    </p>
                </div>
            </a>
        </li>

    </ul>
</article>
