// Overwrites specific to this view
.view--insights {

    .fullHero {
        background-color: #519ca0;
        color: $color_white;
        background-image: url(../img/content/insights/bgInsights--lowSrc.jpg); // progressive loading effect
        &__wrapper {
            background-image: url(../img/content/insights/bgInsights.jpg);
        }

        // 1025 - 1366
        @include mediaquery(hdready) {
            font-size: .7rem;
        }
    }

    .tilesGrid__item {
        width: 33.33%; // using % instead of vw because scrollbars counts into 100vw
        height: 37.5vw; // although % is different than vw, the aspect ratio will be preserved
    }

}

// .insTile - module should hold only styles related to the content
// and not to the grid or animation.
.insTile {
    width: 100%;
    height: 100%;
    padding: 3em 8em 3.3em 3.3em;
    font-size: .8vw; // master size

    // Cards backgrounds
    background-color: $color_white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &--bgTriangle {
        background-color: $color_white;
        background-position: 0 50%;
        background-size: auto 100%;
        background-image: url(../img/content/insights/bgTriangle.svg);
    }
    &--bgBart {
        background-color: #417e97;
        background-image: url(../img/content/insights/bgBart.jpg);
    }
    &--bgBlueBird {
        background-color: #417e97;
        background-image: url(../img/content/insights/bgBlueBird.jpg);
    }
    &--bgPaddle {
        background-color: #5b592f;
        background-image: url(../img/content/insights/bgPaddle.jpg);
    }
    &--bgMilo {
        background-color: #5b592f;
        background-image: url(../img/content/insights/bgMilo.jpg);
    }
    &--bgGray {
        background-color: $color_gray;
    }

    // Text styling
    &__txt {
        letter-spacing: .04em;
        &--fontA {
            margin: 0;
            font-size: 3.1em;
            font-weight: 300;
            font-family: $font_sansSerif;
            line-height: 1.25;
        }
        &--fontB {
            font-size: 1.88em;
            line-height: 1.2;
        }
        &--fontC,
        &--fontD {
            margin: 0;
            font-size: 1.75em;
            font-weight: 300;
            font-family: $font_sansSerif;
            line-height: 1.25;
        }
        &--fontD {
            font-size: 1.88em;
        }
        &--fontE {
            display: block;
            font-style: normal;
            font-weight: 700;
            font-family: $font_sansSerif;
            font-size: 12.5em;
            line-height: .8;
        }
        &--fontF {
            display: block;
            font-style: normal;
            font-weight: 700;
            font-family: $font_sansSerif;
            font-size: 8em;
            line-height: .9;
        }
    }

    q {
        display: block;
        padding-top: .2em;
        padding-bottom: .2em;
        padding-left: 1em;
        border-left: 3px solid;

        &:before,
        &:after {
            content: "";
        }
    }

    * {
        margin: 0;
    }

    // Card type header
    &__type {
        display: inline-block;
        border: 1px solid;
        padding: .3em .8em;
        font-family: $font_sansSerif;
        font-size: 2em;
        font-weight: 400;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    &__footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 2em 3em 3.5em 1.5em;
        border-top: 3px solid rgba($color_main, .2);
        line-height: 1.3;

        .color--white & {
            border-top-color: rgba($color_white, .2);
        }

        &Avatar {
            width: 6em;
            height: 6em;
            margin-right: 2.3em;
            float: left;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            &--simon {

            }
            &--bp {
                background-image: url(../img/content/avatars/bigger-picture.png);
            }
        }

        &Date {
            margin-top: 1.5em;
            font-size: 1.6em;
            float: right;
        }

        &Content {
            padding-top: .3em;;
            font-size: 1.8em;
            strong {
                display: block;
            }
        }

    }

}
