// Overwrites specific to this view
.view--services {

    .tileBoxesWrapper {
        // 1025 - 1366: Ensure 2 columns of tile boxes
        @include mediaquery(hdready) {
            width: 130%;
        }
    }

    .tileBoxes {
        margin-top: 10vh;

        &__item {
            // Leave animation
            @extend .fadeOut;
            &:nth-child(4) { animation-delay: 100ms; }
            &:nth-child(3) { animation-delay: 200ms; }
            &:nth-child(2) { animation-delay: 300ms; }
            &:nth-child(1) { animation-delay: 400ms; }

            // Enter animation
            .active & {
                @extend .fadeIn;
                &:nth-child(1) { animation-delay: 200ms; }
                &:nth-child(2) { animation-delay: 300ms; }
                &:nth-child(3) { animation-delay: 400ms; }
                &:nth-child(4) { animation-delay: 500ms; }
                &:nth-child(5) { animation-delay: 600ms; }
            }
        }
    }

}

.bgJungle {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100%;
    background: url(../img/content/services/bgJungle.jpg) 0 no-repeat;
    background-size: cover;

    // Leave animation
    @extend .slideOutRight;
    animation-delay: 700ms;

    // Enter animation
    .active & {
        @extend .slideInRight;
        animation-delay: 0s;
    }
}

.servicesContent {
    position: absolute;
    top: 13vh;
    left: 9vw;
    width: 58vw;
    min-width: 42rem;
    //background: rgba(#0f0, .2);

    &__headline {
        width: 42rem;
        text-shadow: 0 0 1px $color_white; // required when text overlaps with background image

        // Leave animation
        @extend .fadeOut;
        animation-delay: 500ms;

        // Enter animation
        .active & {
            @extend .fadeIn;
            animation-delay: 100ms; // total .tileBox items disappearing time
        }

        span {
            display: block;
            color: $color_green;
        }
    }

}
