// Overwrites specific to this view
.view--servicesStrategy {

    .breadcrumbs {
        padding-left: 3vw;
        margin-left: -3vw;
        margin-bottom: 7vh;
    }

    .squareBoxes {
        position: absolute;
        top: 25vh;

        // 1921 - *
        @include mediaquery(cinema) {
            // font size is kept default to prevent growing too much
            left: 38vw;
            width: 69.5em;
        }
        // 1025 - 1920
        @media only screen and(min-width: #{$breakepoint_tablet + 1}) and(max-width: $breakepoint_fullhd) {
            left: 47vw;
            width: 49vw;
            font-size: .7vw;
        }
    }

    // Leave animation
    .squareBoxes__item {
        &:nth-child(5) { animation-delay: 100ms; }
        &:nth-child(6) { animation-delay: 200ms; }
        &:nth-child(3) { animation-delay: 300ms; }
        &:nth-child(2) { animation-delay: 400ms; }
        &:nth-child(1) { animation-delay: 500ms; }
    }
    .squareBoxes__title { animation-delay: 600ms; }

    // Enter animation
    .active & {
        .squareBoxes__title { animation-delay: 600ms; }
        .squareBoxes__item {
            &:nth-child(1),
            &:nth-child(1) > a {
                animation-delay: 700ms;
            }
            &:nth-child(2),
            &:nth-child(2) > a {
                animation-delay: 800ms;
                a {animation-delay: 800ms;}
            }
            &:nth-child(3),
            &:nth-child(3) > a {
                animation-delay: 900ms;
                a {animation-delay: 900ms;}
            }
            &:nth-child(6),
            &:nth-child(6) > a {
                animation-delay: 1000ms;
                a {animation-delay: 1000ms;}
            }
            &:nth-child(5),
            &:nth-child(5) > a {
                animation-delay: 1100ms;
                a {animation-delay: 1100ms;}
            }
            &:nth-child(4),
            &:nth-child(4) > a {
                animation-delay: 1200ms;
                a {animation-delay: 1200ms;}
            }
        }
    }


}

.bgBooksAndFingers {
    position: fixed;
    top: 0;
    right: 0;
    width: 42vw;
    height: 100%;
    background: url(../img/content/services/strategy/bgBooksAndFingers.jpg) 0 no-repeat;
    background-size: cover;
    transition: width 2s ease;

    // Leave animation
    @extend .fadeOut;
    animation-delay: 900ms;

    // Enter animation
    .active & {
        @extend .fadeIn;
        animation-delay: 400ms;
        animation-duration: 1900ms;
    }

    // 1367 - 1920
    @include mediaquery(fullhd) {
        width: 50vw
    }
    // 1921 - *
    @include mediaquery(cinema) {
        width: 55vw
    }

}

.svcStrategyContent {

    &__headline {
        position: absolute;
        top: 17vh;
        left: 3vw;
        width: 31rem;
        transition: left 2s ease;
        // background: rgba(#0f0, .2);

        // 1367 - *
        @media only screen and(min-width: #{$breakepoint_hdready + 1}) {
            left: 5vw;
            .breadcrumbs {
                margin-left: -5vw;
                padding-left: 5vw;
            }
        }

        .headline {
            width: 22rem;
            color: $color_blue;
        }

        p:not(.headline) {
            font-size: 1.5rem;
        }

        // Leave animation
        @extend .fadeOut;
        animation-delay: 700ms;

        // Enter animation
        .active & {
            @extend .fadeIn;
            animation-delay: 50ms;
        }
    }

}
