.view--work {

    .tilesGrid__item {
        width: 33.33%; // using % instead of vw because scrollbars counts into 100vw
        height: 24.12vw; // although % is different than vw, the aspect ratio will be preserved
    }

}


.workTile {
    display: block;
    width: 100%;
    height: 100%;
    padding: 3em;
    font-size: .8vw; // master size

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__content {
        font-size: 1.56em;
        line-height: 1.2;
        color: $color_white;

        strong {
            display: block;
            padding-bottom: .3em;
            font-size: 1.4em;
            font-weight: 400;
            font-family: $font_sansSerif;
            text-transform: uppercase;
        }
    }
}
