
.burger {
    display: none;

    @media all and (min-width: 200px) and (max-width: 1024px) {
        position: absolute;
        right: 0;
        top: 3px;
        display: inline-block;
    }

    @media all and (min-width: 200px) and (max-width: 400px) {
        top: -3px;
    }

    img {
        width: 35px;
    }
}